<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WCalanderBot</title>
    <meta name="description" content="A WhatsApp bot that easily integrate with Google Calander to add events">
    <link id="favicon" rel="icon" href="favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZ52PMK');</script>
<!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ52PMK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
      <h1 style="text-align:center">
        EventBot <span class="text-grey">for WhatsApp</span>
      </h1>

    </header>

    <main style="text-align:center">
      <img src="demo.png" style="width:100%; max-width:600px; margin-bottom:1em">
      <p>
        WhatsApp any term to <span class="text-grey">WikiBot 🤖</span> and get a reply with a summary from its WikiPedia page.
      </p>
      <br>
      <p>
        Get it at 👉 <a href="https://tiny.cc/wikibot">tiny.cc/wikibot</a> and say <code>Hi</code>
      </p>
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>

    <footer style="text-align:center">
      👨‍💻 Made by <a href="https://twitter.com/devdre1909">@devdre1909</a><br><br>
      <a href="https://github.com/jajoosam/wikibot"><img src="https://icongr.am/fontawesome/github.svg?size=20" style="vertical-align"></a>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57856524-28"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57856524-28');
</script>

  </body>
</html>
